    <div class="ui vertical menu">
      <%= link_to "エンターテイメント", pages_entertainment_path, class: "item red label" %>
      <%= link_to "ビジネス", pages_sport_path, class: "item" %>
      <%= link_to "スポーツ", pages_business_path, class: "item" %>
      <%= link_to "アート", pages_art_path, class: "item" %>
      <%= link_to "インターネット", pages_internet_path, class: "item" %>
      <%= link_to "政治", pages_political_path, class: "item" %>
      <%= link_to "地域", pages_local_path, class: "item" %>
      <%= link_to "ファッション", pages_fashion_path, class: "item" %>
      <%= link_to "その他", pages_other_path, class: "item" %>
    </div>