

<div class="ui internally celled grid">
  <div class="row">
    <div class="three wide column">
      
      <%= render 'shares/sidebar' %>
      
    </div>
    <div class="eleven wide column">
        
        <% @events.each do |event| %>
        <div class="d_inline center m_left_">
        <div class="ui card d_inline">
          <div class="image">
            <%= image_tag event.image %>
          </div>
          <div class="content">
            <%= link_to "#{event.name}", event, class: "btn btn-large" %>
            <div class="meta">
              <span class="date"><%= event.date.strftime("%Y年 %-m月 %-d日") %></span>
            </div>
            <div class="pa_2">
                <% event.category_list.each do |tag| %>
                  <span class="ui teal tag label"><%= tag %></span>
                <% end %>
            </div>
            
            <div class="description">
              <%= event.description.truncate(54) %>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="unhide icon"></i>
              <%= event.rank %>
            </a>
          </div>
        </div>
        </div>
        <% end %>
        
    </div>
    <div class="two wide column">
      <div class="ui segments">
        <div class="ui segment">
          <p><i class="trophy icon"></i>ランキング</p>
        </div>

        <% int = 0 %>
        <% @ranks.each do |rank| %>
          <div class="ui segment">
            <p><%= int += 1 %>　<%= rank.name.truncate(7) %></p>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="three wide column">
      <img>
    </div>
    <div class="ten wide column">
      <p></p>
    </div>
    <div class="three wide column">
      <img>
    </div>
  </div>
</div>